html {
    height: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
}
body {
    text-align: center;
    display: block;
    margin: 0;
    height: 100%;
}
#container {
    position: relative;
    left: 50%;
    margin: 0 0 0 -400px;
    max-width: 800px;
    padding-bottom: 120px;
}
/*header*/
.headerLink {
    position: relative;
    width: 50%;
    left: 35%;
    height: 40px;
    padding: 20.5px 0 15px 0;
    color: white;
}
.header {

    height: 60px;
    background-color: darkgray;
    overflow: hidden;
}
a {
    color: white;
    font-size: 100%;
    font-family: Roboto;
}
/*content*/
span {
    font-family: Mamelon; 
    font-size: 300%;
    margin-bottom: 15%;
    text-align: center;
}
.divs {
    background-color: white;
    position: relative;    
}
img {
    width: 100%;
    right: 0;
    background-color: whitesmoke;
    transition: 300ms;
}
img:hover:not(.nofilter) {
    -webkit-filter: brightness(80%);
}
.title {
    margin: 2% 0 1% 0;
    width: 100%;
    transition: 0.75s;
}
i {
    position: fixed;
    width: 5%;
    right: 5%;
    bottom: 10%;
    background-color: white;
}
.overflow {
    width: 100%;
    overflow: hidden;
}
footer {
    position: relative;
    height: 100px;
    background-color: gainsboro;
}
.VSC{
    position: relative;
    left: 50%;

}
p.VSClink {
    font-family: Roboto;
    color: darkgray;
    padding-top: 40px;
}
a.VSClink {
    color: dimgray;
}
.bar {
    width: 1.5px;
    height: 80px;
    background-color: darkgray;
    position: relative;
    top: 10px;
    left: 50%;
    margin-left: 0.5px;
}
.BTT{
    position: relative;
    left: 20%;

}
